.modal{
    background-color: rgba(32, 35, 41, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal.show {
    bottom: 20px; /* Ajusta esto según la altura que desees desde el fondo */
  }

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    max-width: 200px;
    min-width: 50px;
    width: 10%;
}
